.detail{
	padding: 20upx;
	.btn{
		margin-bottom: 30upx;
	}
	.map{
		margin-bottom: 20upx;
	}
	.h2{
		margin-bottom: 10upx;
	}
	.bottom{
		font-size: 26upx;
		color: #999999;
		display: flex;
		justify-content: space-between;
		margin-top: 20upx;
		margin-bottom: 20upx;
		flex-wrap: wrap;
	}
	.title{
		margin-bottom: 20upx;
	}
	.head{
		display: flex;
		.avatar{
			border-radius: 25upx;
			margin-right: 50upx;
			width: 100upx;
			height: 100upx;
		}
		.nickname{
			font-size: 26upx;
			color: #999999;
		}
	}
	.imgs{
		image{
			width: 100%;
		}
	}
}